[Unit]
Description=Ollama Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
User=root
Environment=HOME=/root
Environment=OLLAMA_MODELS=/root/.ollama/models
Environment=OLLAMA_HOST=0.0.0.0:11434
TimeoutStopSec=infinity
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
